<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
	Thank you so much for your donation to <%= @fund.name %>. It's because of people like you that make this event a success. If you're 		 looking for further ways to get involved please join us on <%= @day.date.strftime('%b %dth') %> in Newburyport, MA at Natural High Fitness Club (50 Water Street, Floors 2+3).<br>
	</p>
	<p>
	Thanks again,<br>
    <br>
	Jesse + Lindsay Sutton<br>
    <br>
	p.s. Don't worry, your good karma or swag is in the mail.
	</p>
  </body>
</html>