<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<p>
		Thank you for signing up for Ride4Ryan. You have successfully registered to spin at 
		<%= @time[@pledge.period - 1].strftime('%l:%M %p') %> on <%= @day.date.strftime('%b %dth') %>.<br>
	</p>
	<p>
		We can't thank you enough for volunteering your time and money to this wonderful cause.<br>
		We'll see you on 10/28 at Natural High Fitness Club at 50 Water Street, Newburyport, MA 01950 (Floors 2 + 3).<br>
		<br>
	</p>
	<p>
		Thank you,<br>
		<br>
		Jesse + Lindsay Sutton
	</p>
  </body>
</html>