<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
	Thank you for signing up to <%= @fund.name %>. Your are registered to spin at <%= @pledge.period.strftime('%l:%M %p') %> on 
	<%= @day.date.strftime('%b %dth') %>.<br>
	</p>
	<p>
	We can't thank you enough for volunteering your time and money to this wonderful cause. We'll see you on 
	<%= @day.date.strftime('%b %dth') %> at Natural High Fitness Club located at 50 Water Street Newburyport, MA 01950 (Floors 2 + 3).<br>
    </p>
	<p>
	Thank you,<br>
    <br>
	Jesse + Lindsay Sutton
    </p>
  </body>
</html>