<div class="wrapper">
  <div class="header">
    <div class="container">
      <div class="logo">
      </div>
      <div class="count_down">
        <span class="days_left_num">
          33
        </span>
        <span class="days_left_text">
          daystogo
        </span>
        <span class="days_left_date">
          Oct 28th, 9:00AM
        </span>
      </div>
      <div class="spin_signup_text">
      </div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="right_content">
        <div class="about">
        </div>
        <div class="products">
        </div>
      </div>
      <div class="slot_list">
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="sponsor_text">
        And an <strong>enormous</strong> thanks, to our <strong>incredible</strong> sponsors!
      </div>
    </div>
  </div>
</div>
