<div class="modal_box">
  <div class="modal_title">
    <span class="modal-link-close">close</span>
    <h2>Title</h2>
  </div>
  <div class="modal_content"></div>
</div>
<div class="modal_bg">
</div>
<div class="wrapper">
  <div class="header">
    <div class="container">
      <div class="raised">
        Raised so far 
        <div class="amount">
          $<%= @fund.total_raised %>
        </div>
      </div>
      <div class="logo">
        Rid<span class="first">e</span><span class="num">4</span><span class="third">Ryan</span>
      </div>
      <div class="count_down">
        <span class="days_left_num">
          <%= @fund.days_left %>
        </span>
        <span class="days_left_text">
          daystogo
        </span>
        <span class="days_left_date">
          Oct 28th, 9:00AM
        </span>
      </div>
      <div class="spin_signup_text">
        Spin Signup
      </div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="slot_list">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
        <span class="day">October 28th, 2012</span>
        <ul>
          <li>
            <span>9:00AM</span>
            <span><div class="reg modal-link">Register</div></span>
            <span>10 spots</span>
          </li>
          <li>
            <span>9:30AM</span>
            <span><div class="reg modal-link">Register</div></span>
            <span>2 spots</span>
          </li>
          <li>
            <span>10:00AM</span>
            <span><div class="reg modal-link">Register</div></span>
            <span>8 spots</span>
          </li>
          <li>
            <span>10:30AM</span>
            <span><div class="reg modal-link">Register</div></span>
            <span>5 spots</span>
          </li>
        </ul>
        <div class="list_footer">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="left_content">
        <div class="about">
          <h1>A son, husband, and father</h1>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a feugiat felis. Praesent mollis tellus tristique nisl consequat sed vestibulum magna aliquam. Ut pharetra placerat nulla, et condimentum justo blandit eget. Vivamus purus dolor, molestie et scelerisque non, tincidunt sed leo. Aenean ultrices pellentesque neque sed euismod. Ut quis lacinia elit. Ut aliquet molestie quam non pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed velit felis, fermentum iaculis mollis in, eleifend ac nibh. Praesent in tellus faucibus ante auctor sodales eu vel felis. Sed molestie nibh at tortor venenatis porttitor. Aliquam erat volutpat. Nullam eu nisl nisi. Vestibulum a fermentum lorem. Proin blandit iaculis ornare.

          Donec sit amet mi lacus, non consequat mi. Curabitur in lobortis ante. Mauris non iaculis ligula. Nunc vehicula nibh et arcu facilisis feugiat. Sed non felis et nisl euismod dignissim ut aliquam enim. In euismod urna sit amet nulla porttitor in luctus turpis imperdiet. Nulla vel erat mi, nec interdum ligula.
        </div>
        <div class="products">
          <ul>
            <li>
              <h2>Wrist Band!</h2>
              <div class="product_box">
                <div class="image"></div>
                <span class="dollar_sign">$</span>
                <span class="dollar_num">20+</span>
              </div>
            </li>
            <li>
              <h2>T-Shirt!</h2>
              <div class="product_box">
                <div class="image"></div>
                <span class="dollar_sign">$</span>
                <span class="dollar_num">50+</span>
              </div>
            </li>
            <li>
              <h2>Everything!</h2>
              <div class="product_box">
                <div class="image"></div>
                <span class="dollar_sign">$</span>
                <span class="dollar_num">100+</span>
              </div>
            </li>
          </ul>
          <div class="donation_container">
            <div class="donation_text">
              <strong>Any donations is appreciated</strong>, but the more you give, the more you get!
            </div>
            <div class="donation_form">
              <div class="good_karma_button modal-link">Good Karma :)</div>
              <input type="text" class="pledge_amount" placeholder="0">
              $
            </div>
          </div>
        </div>
        <div class="about">
          <h1>The location</h1>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a feugiat felis. Praesent mollis tellus tristique nisl consequat sed vestibulum magna aliquam. Ut pharetra placerat nulla, et condimentum justo blandit eget. Vivamus purus dolor, molestie et scelerisque non, tincidunt sed leo. Aenean ultrices pellentesque neque sed euismod. Ut quis lacinia elit. Ut aliquet molestie quam non pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed velit felis, fermentum iaculis mollis in, eleifend ac nibh. Praesent in tellus faucibus ante auctor sodales eu vel felis. Sed molestie nibh at tortor venenatis porttitor. Aliquam erat volutpat. Nullam eu nisl nisi. Vestibulum a fermentum lorem. Proin blandit iaculis ornare.

          Donec sit amet mi lacus, non consequat mi. Curabitur in lobortis ante. Mauris non iaculis ligula. Nunc vehicula nibh et arcu facilisis feugiat. Sed non felis et nisl euismod dignissim ut aliquam enim. In euismod urna sit amet nulla porttitor in luctus turpis imperdiet. Nulla vel erat mi, nec interdum ligula.
          <br/><br/><br/>
        </div>        
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="contact_host">
        Need to get in touch with Lindsay?<br/>
        Call 1800Lindsay
      </div>
      <div class="sponsor_text">
        And an <strong>enormous</strong> thanks, to our <strong>incredible</strong> sponsors!
      </div>
    </div>
  </div>
</div>
