@import "compass/css3";

$background_color: #eaeef2;

.main{
  background-color: $background_color;
  border-top:1px solid #fff;
  height:900px;
  padding-top:10px;
  width:100%;
  position:relative;
}
.about{
  font-size:14px;
  line-height:21px;
}
