@import "compass/css3";

$background_color: #dae0e6;

.footer{
  background-color: $background_color;
  height:300px;
  padding:35px 40px 0;
}
.sponsor_text{
  font-size:30px;
  font-weight:300;
  color:#3d566e;
}
.contact_host{
  float:right;
  width:222px;
  font-size:12px;
  background-color:#a9b4bf;
  padding:10px 14px;
  margin:0 0 0;
  color:#fff;
  text-align:center;
  @include border-radius(20px);
}
